body {
}

.navbar-inverse {
    background-color: #4800ff;
    border-color: #4800ff;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #00ff21;
    }
